
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}



.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



:root{
    --dark-cyan: hsl(158, 36%, 37%);
    --cream:  hsl(30, 38%, 92%);
    --dark-blue: hsl(212, 21%, 14%);
    --white:hsl(0, 0%, 100%);
    --grayish-blue: hsl(228, 12%, 48%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-size: 14px; /* MIRAAR */
}

